/* .laptop{
    background-image: url('./pictures/laptop.jpg');
    width: 30px;
    background-repeat: no-repeat;
} */
.sticky{
    position: relative;
    position: sticky;
    top: 0px; 
    list-style: none;
    color: white;
    background-color: black;
}
.nav{
    display: inline-block;
    margin: 7px;
    display: inline-flex;
    font-size: small;
}
.firsth{
    position: absolute;
    margin-left: 160px;
    font-size: small;
    margin-top: -28PX;
}
.maindiv{
    position: absolute;
    margin-left: 500px;
    margin-top: -30px;

}
.firstlogo{
    width: 30px;
    margin-left: 130px;
    margin-top: 25px;
}
.creat{
    display: flex;
    margin-left: 300px;
    margin-top: 170px;
    font-size: 60px;
}
.po{
    position: relative;
    margin-left: 270px;
}
.pt{
    position: relative;
    margin-left: 290px;
    margin-top: -10px;
}
.pth{
    position: relative;
    margin-left: 265px;
    margin-top: -10px;
}
.pfo{
    position: relative;
    margin-left: 560px;
    margin-top: -10px;
}
.pfi{
    position: relative;
    margin-left: 290px;
    margin-top: -10px;
}
.psi{
    position: relative;
    margin-left: 270px;
    margin-top: -10px;
}
.pse{
    position: relative;
    margin-left: 560px;
    margin-top: -10px;
}
.feature{
    font-style: bold;
    font-size: 40px;

}
.one{
    width: 400px;
}
.one:hover{
    width: 395px;
}
.two{
    width: 400px;
}
.two:hover{
    width: 395px;
}
.three{
    width: 400px;
}
.three:hover{
    width: 395px;
}
.four{
    width: 400px;
}
.four:hover{
    width: 395px;
}
.five{
    width: 400px;
}
.five:hover{
    width: 395px;
}
.six{
    width: 400px;
}
.six:hover{
    width: 395px;
}
.firstrowpic{
    display: flex;
    justify-content: center;
}
.secondrowpic{
    display: flex;
    justify-content: center;
}
.firstcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 150px;
    padding: 45PX;
}
.secondcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 40px;
    padding: 45PX;
}
.thirdcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 40px;
    padding: 45PX;
}
.fouthcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 150px;
    padding: 45PX;
}
.fifthcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 75px;
    padding: 45PX;
}
.sixthcard{
    display: inline-block;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 75px;
    padding: 45PX;
}
.whychoose{
    position: relative;
    margin-left: 150px;
}
.youwant{
    position: relative;
    margin-left: 150px;
}
.thick{
    list-style: none;
    margin-left: 150px;
}
.computer{
    width: 500PX;
    margin-left: 800px;
    margin-top: -380px;

}
.firstline{
    margin-left: 100px;
    display: inline-block; 
    box-shadow: 10px 10px 10px 5px;
    padding: 20px;
}
.hone{
    font-size: 20px;
    padding-left: 60px;
}
.htwo{
    font-size: larger;
    padding-left: 70px;
}
.ytwo{
    font-size: larger;
    padding-left: 90px;
}
.buttonb{
    border-color: rgba(0, 191, 255, 0.747);
    color: rgba(0, 191, 255, 0.747);
    margin-left: 120px;
}
.buttonc{
    border-color: rgba(0, 191, 255, 0.747);
    color: rgba(0, 191, 255, 0.747);
    margin-left: 120px;
}
.ione{
    font-size: larger;
    padding-left: 80px;
}
.buttona{
    border-color: rgba(0, 191, 255, 0.747);
    color: rgba(0, 191, 255, 0.747);
    margin-left: 100px;
}
.secondline{
    margin-left: 100px;
    display: inline-block; 
    box-shadow: 10px 10px 10px 5px;
    padding: 20px;
  
}
.clientpic{
    width: 100px;
    margin-left: 190px;
}
.client{
    margin-left: 290px;
    margin-top: -65px;
}
.ion{
    margin-left: 290px;
    color: blue;
    margin-top: -5px;
}
.skill{
    margin-left: 190px;
}
.partone{
    display: inline-block;
    background-color: black;
    padding-right: 20px;
    color: white;
}
.parttwo{
    display: inline-block;
    background-color: black;
    padding-left: 50px;
    margin-top: -700px;
    margin-left: 640px;
    padding-right: 120px;
    color: white;

}
.founderone{
    display: inline-block;
    margin-left: 300px;
}
.personalinfo{
    display: flex;
    justify-content: space-evenly;
}
 .phone{
    display: inline-block;
 } 
.address{
    display: flex;
    justify-content: space-evenly;
}
.secondlast{
    margin-right: -20px;
} 
.gizri{
    margin-left: -80px;
}
.firstend{
    list-style: none;
    margin-left: 290px;
}
.secondend{
    list-style: none;
    margin-left: 630px;
    margin-top: -24px;
}
.thirdend{
    list-style: none;
    margin-left: 1000px;
    margin-top: -24px;
}
.end{
    opacity: 0.6;
}
.secondlast{
    display: flex;
    justify-content: center;
    color: white;
}
.zero{
    position: relative;
    margin-left: 530px;
    margin-top: -40PX;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}